
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ZeroSystem</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <!-- jQuery読み込み -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- BootstrapのJS読み込み -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js" integrity="sha384-1CmrxMRARb6aLqgBO7yyAxTOQE2AKb9GfXnEo760AUcUmFx3ibVJJAzGytlQcNXd" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
  </head>
  <body class="bg-secondary">
    <nav class="navbar bg-primary">
        <h2 style="color: white; background:">ZeroSystem</h2>
    </nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-6 p-4 m-2 d-inline-block rounded-lg bg-dark">
                <div align="center" style="font:40pt Century Gothic; color:white;" id="clock">
                <script>
                    t = 0;
                    var elem = document.getElementById("clock");
             
                    function clock(){
                        var date = new Date();
                        var hours = date.getHours();
                        var minutes = date.getMinutes();
                        var seconds = date.getSeconds();
                        elem.innerHTML = hours+":"+minutes;
                    }
             
                    t = setInterval("clock()", 500);
                </script>
            </div>
        </div>
        <div class="col-4 p-4 p mt-2 mr-2 ml-2 mb-0 d-inline-block rounded-lg text-white bg-dark">weather<br>mark</div>
    </div>
    <div class="row h-25">
        <div class="col-6 p-4 m-2 d-inline-block rounded-lg text-white bg-dark">
            <div class="container h-100">
                <div class="d-flex justify-content-center h-100">
                    <div class="searchbar">
                        <input class="search_input" type="text" name="" placeholder="Search...">
                        <a href="#" class="search_icon"><i class="fas fa-search"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4 p-4 mb-2 mr-2 ml-2 mt-0 d-inline-block rounded-lg text-white bg-dark">
            {% if temp %}
            <p>{{temp}}</p>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-4 p-4 m-2 d-inline-block rounded-lg text-white bg-dark">
            <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
            <script type="text/javascript">
            navigator.geolocation.getCurrentPosition((position) => {
                var lat = position.coords.latitude;
                var lng = position.coords.longitude;
                var acc = position.coords.accuracy;
                sendLocation(lat, lng, acc);
            }, (error) => {
                alert('GPS情報が取得できません．権限を確認してください')
            }, {
                enableHighAccuracy: true
            });
            function sendLocation(lat, lng, acc) {
                var fData = new FormData();
                fData.append('lat', lat);
                fData.append('lng', lng);
                fData.append('acc', acc);
                $.ajax({
                //配信元のhttpsサーバーに返す場合
                url: '/send-location',                            
                //別サーバー（今回でいう画像処理サーバー）に返す場合
                //url: 'https://192.168.0.100:12345/register',   
                type: 'POST',
                data: fData ,
                contentType: false,
                processData: false,
                success: function(data, dataType) {
                    //非同期で通信成功時に読み出される [200 OK 時]
                    console.log('Success', data);
                },
                error: function(XMLHttpRequest, textStatus, errorThrown) {
                    //非同期で通信失敗時に読み出される
                    console.log('Error : ' + errorThrown);
                }
        });

        }
        </script>
    </div>
        <div class="col-6 p-4 m-2 d-inline-block rounded-lg text-white bg-dark">Y search</div>
</div>

  </body>
  </html>