<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ZeroSystem</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <!-- jQuery読み込み -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- BootstrapのJS読み込み -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js" integrity="sha384-1CmrxMRARb6aLqgBO7yyAxTOQE2AKb9GfXnEo760AUcUmFx3ibVJJAzGytlQcNXd" crossorigin="anonymous"></script>
  </head>
  <body class="bg-dark">
    <form class="text-center mt-5" action="/result" method="post">
      <label class="text-primary font-weight-bold" for="word">YouTube検索</label>
      <input type="text" name="word">
      <button class="btn btn-primary" type="submit">送信</button>
    </form>
    <div class="container">
      <div class="header">
        <h3 class="text-muted"></h3>
        {% if message %}
          <h1 style="font-family: 'Century Gothic';size: 300%; text-align: center; color:white;">{{message}}</h1>
        {% endif %}
        <div class="row">  
        {% for title,url in data %}
        <div class="col-lg-4 col-md-6">
          <!--Card Narrower-->
          <div class="card card-cascade narrower bg-info">
            <!--Card image-->
          <div class="view view-cascade overlay">
            <img src="{{url}}" class="card-img-top"
              alt="narrower">
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
          <!--/.Card image-->

          <!--Card content-->
          <div class="card-body card-body-cascade">
            <h5 class="pink-text"><i class="fas fa-utensils"></i>{{title}}</h5>
            <!--Title-->
            <h4 class="card-title">YouTube</h4>
            <!--Text-->
            <p class="card-text"></p>
            <a class="btn btn-unique" href="#">見に行く</a>
          </div>
          <!--/.Card content-->

        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  </div>
  </body>
</html>
