<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ZeroSystem</title>
    <link href="http://localhost:5000/css/bootstrap.min.css" rel="stylesheet">
    <!-- jQuery読み込み -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- BootstrapのJS読み込み -->
    <script src="http://localhost:5000/js/bootstrap.min.js"></script>
  </head>
  <body class="bg-dark">
    <div class="container">
      <div class="header">
        <h3 class="text-muted"></h3>
        {% if message %}
          <h1 style="font-family: 'Century Gothic';size: 300%; text-align: center; color:white;">{{message}}</h1>
        {% endif %}
      </div>
    </div>
  </body>
</html>